#spring.application.name=cal
#
#spring.datasource.url=jdbc:postgresql://localhost:5432/cal_db
#spring.datasource.username=YOUR_DB_USERNAME
#spring.datasource.password=YOUR_DB_PASSWORD
#
#spring.jpa.hibernate.ddl-auto=update
#spring.jpa.show-sql=true
#
#
#spring.security.oauth2.client.registration.google.client-id=YOUR_GOOGLE_CLIENT_ID
#spring.security.oauth2.client.registration.google.client-secret=YOUR_GOOGLE_CLIENT_SECRET
#spring.security.oauth2.client.registration.google.scope=openid,email,profile,https://www.googleapis.com/auth/calendar
#
#
#spring.mail.host=smtp.gmail.com
#spring.mail.port=587
#spring.mail.username=YOUR_EMAIL@gmail.com
#spring.mail.password=YOUR_APP_PASSWORD
#spring.mail.properties.mail.smtp.auth=true
#spring.mail.properties.mail.smtp.starttls.enable=true


spring.application.name=${APP_NAME:cal}
server.port=${PORT:8080}

# ================= DATABASE =================
spring.datasource.url=${DB_URL:jdbc:postgresql://localhost:5432/cal_db}
spring.datasource.username=${DB_USERNAME:postgres}
spring.datasource.password=${DB_PASSWORD:YOUR_DB_PASSWORD}


#spring.datasource.url=${DB_URL:jdbc:postgresql://dpg-d7m549i8qa3s739hu4jg-a.singapore-postgres.render.com:5432/cal_clone_xomg}
#spring.datasource.username=${DB_USERNAME:YOUR_DB_USERNAME}
#spring.datasource.password=${DB_PASSWORD:YOUR_DB_PASSWORD}
# ================= JPA =================
spring.jpa.hibernate.ddl-auto=${DDL_AUTO:update}
spring.jpa.show-sql=${SHOW_SQL:true}

#server.forward-headers-strategy=FRAMEWORK

# ================= GOOGLE OAUTH =================
spring.security.oauth2.client.registration.google.client-id=${GOOGLE_CLIENT_ID:YOUR_GOOGLE_CLIENT_ID}
spring.security.oauth2.client.registration.google.client-secret=${GOOGLE_CLIENT_SECRET:YOUR_GOOGLE_CLIENT_SECRET}
spring.security.oauth2.client.registration.google.scope=${GOOGLE_SCOPE:openid,email,profile,https://www.googleapis.com/auth/calendar}

spring.security.oauth2.client.provider.google.authorization-uri=https://accounts.google.com/o/oauth2/auth?access_type=offline&prompt=consent

# ================= MAIL =================
spring.mail.host=${MAIL_HOST:smtp.gmail.com}
spring.mail.port=${MAIL_PORT:587}
spring.mail.username=${MAIL_USERNAME:YOUR_EMAIL@gmail.com}
spring.mail.password=${MAIL_PASSWORD:YOUR_APP_PASSWORD}
spring.mail.properties.mail.smtp.auth=${MAIL_SMTP_AUTH:true}
spring.mail.properties.mail.smtp.starttls.enable=${MAIL_STARTTLS:true}

app.base-url=${APP_BASE_URL:}
app.ping.rate=${APP_PING_RATE:5m}
app.ping.enabled=${APP_PING_ENABLED:false}
