<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
</head>
<body>

<h2>Create User</h2>

<form th:action="@{/create}" th:object="${user}" method="post">
    Username: <input type="text" th:field="*{username}" /><br>
    Email: <input type="text" th:field="*{email}" /><br>
    Bio: <input type="text" th:field="*{bio}" /><br>
    TimeZone: <input type="text" th:field="*{timeZone}" /><br>

    <button type="submit">Save</button>
</form>

</body>
</html>